language: cpp

osx_image: xcode10.1

env:
  global:
    - MAKEFLAGS="-j 2"

matrix:
  include:
    - os: linux
      dist: xenial
      sudo: required
      compiler: gcc
      env:
        - QT_MAJOR=5
        - QT_MINOR=11
        - QT_PATCH=2
      addons:
        apt:
          packages:
            - libglu1-mesa-dev
    - os: osx
      compiler: clang
      env:
        # current brew stable is 5.11.2
        - QT_MAJOR=5

before_install:
  - |
    if [ "$CXX" = "g++" ]; then
      export QT_FULL="${QT_MAJOR}.${QT_MINOR}.${QT_PATCH}"  # ex: 5.11.2
      export QT_SHORT="${QT_MAJOR}${QT_MINOR}"              # ex: 511
      sudo add-apt-repository -y ppa:beineri/opt-qt-${QT_FULL}-xenial
      sudo apt-get update -qq
      sudo apt-get install -qq qt${QT_SHORT}base qt${QT_SHORT}multimedia qt${QT_SHORT}charts-no-lgpl
    fi
  - |
    if [ "$CXX" = "clang++" ]; then
      brew update
      brew install qt${QT_MAJOR} swift
    fi

install:
  - export QT_SELECT=qt${QT_MAJOR}
  - $CXX --version
  - |
    if [ "$CXX" = "g++" ]; then
      . /opt/qt${QT_SHORT}/bin/qt${QT_SHORT}-env.sh
    fi
  - |
    if [ "$CXX" = "clang++" ]; then
      brew link --force qt${QT_MAJOR}
    fi
  - ./update-mods

script:
  - qmake -v
  - qmake -r "QMAKE_CXX=$CXX" "QMAKE_CC=$CC"
  - make
  # Run with X11 display on Linux as some tests require a Qt app
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      xvfb-run make -k check
    else
      make -k check
    fi
