body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#three-d {
	margin: 0;
	padding: 0;
	overflow: auto;
	position: absolute;
}
#video-container {
	margin: 0;
	padding: 0;
	overflow: auto;
	position: absolute;
}
#hud {
	position: absolute;
	margin: 0;
	padding: 0;
}
#rendering {
	display: none;
	overflow: hidden;
	background-color: green;
}
.hidden {
	display: none;
}
canvas {
	font-smooth: never;
	-webkit-font-smoothing: none;
	image-rendering: pixelated;
}
@font-face {
	font-family: 'Default';
	src: url('./BR/Fonts/Default.ttf');
}
