.map-editor-bar .menu-sub-title {
	padding: 10px 12px 10px 12px;
}

.map-editor-bar .menu-item:not(.separator) {
	padding: 10px 12px 10px 12px;
}

.map-editor {
	flex-grow: 1;
	flex-basis: 0;
	cursor: url('../../assets/icons/pencil-cursor.svg') 16 16, pointer;
	position: relative;
	color: white;
}
