.menu-item {
	display: flex;
	align-items: center;
	background-color: var(--main-bg-color);
	color: var(--main-color);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin: 0;
	padding: 5px 15px 5px 15px;
	white-space: nowrap;
	transition: all 0.25s ease-out;
	gap: 10px;
}

.menu-item:not(.menu-item.disabled):not(.menu-item.active):hover {
	background-color: var(--hover-main-bg-color) !important;
}

.menu-item.active {
	background-color: var(--primary-dark-color);
}

.menu-item.disabled {
	color: #999999ce;
	cursor: default;
}

.menu-item.disabled svg {
	color: #999999ce !important;
}

.menu-item.separator {
	background-color: var(--lighter-bg-color) !important;
	padding: 0.5px;
	margin-left: 5px;
	margin-right: 5px;
}

.menu-item .shortcut {
	color: var(--grey-light-color);
	font-size: 10px;
}

.menu-item.disabled .shortcut {
	color: var(--grey-color);
}
