.custom-menu-item {
	background-color: var(--main-bg-color);
	color: var(--main-color);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin: 0;
	padding: 5px 15px 5px 15px;
	white-space: nowrap;
	transition: all 0.25s ease-out;
}

.custom-menu-item:not(.custom-menu-item-disabled):hover {
	background-color: var(--lighter-bg-color) !important;
}

.custom-menu-item.custom-menu-item-disabled {
	color: #999999ce;
	cursor: default;
}

.custom-menu-item.custom-menu-item-disabled svg {
	color: #999999ce !important;
}

.custom-menu-item-separator {
	background-color: var(--lighter-bg-color) !important;
	padding: 0.5px;
	margin-left: 5px;
	margin-right: 5px;
}

.custom-menu-item svg {
	margin-right: 0.5em;
}
