.menu-sub {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

.menu-sub svg {
	margin-right: 0.5em;
}

.menu-sub-title {
	padding: 5px 15px 5px 15px;
	background-color: var(--main-bg-color);
	position: relative;
}

.map-editor-bar .menu-sub-title {
	padding: 10px 15px 10px 15px;
}

.menu-sub-title:hover {
	background-color: var(--hover-main-bg-color);
}

.menu-sub-title.open {
	background-color: var(--hover-main-bg-color);
}

.menu-sub-title.disabled {
	color: #999999ce !important;
}

.menu-sub-content {
	position: absolute;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
		rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.menu-sub .arrow-right {
	border: solid #e8e8e8;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	position: absolute;
	right: 7px;
	top: 12px;
}
