.project-preview {
	display: flex;
	padding: 10px;
	cursor: pointer;
}

.project-preview:hover,
.project-preview.selected {
	background-color: var(--hover-main-bg-color);
}

.project-preview svg {
	visibility: hidden;
	padding: 5px;
}

.project-preview:hover svg {
	visibility: visible;
}

.project-preview svg {
	color: var(--lighter-bg-color);
}

.project-preview svg:hover {
	color: var(--main-color);
}

.project-preview .title {
	color: var(--primary-color);
}
