.tabs {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.tabs-titles {
	display: flex;
	background-color: var(--darkest-bg-color);
}

.tabs-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.tab-item {
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 5px;
	font-size: 12px;
	background-color: var(--main-bg-color);
	border-radius: 0px 5px 0px 5px;
}
