textarea {
	background-color: var(--darkest-containers-bg-color);
	border: 1px solid var(--lighter-bg-color);
	color: var(--main-color);
	border-radius: 2px;
	height: 100px;

	&:focus-visible {
		border: 1px solid var(--primary-color);
		outline-width: 0;
	}
}
