.list-view-container {
    border: 1px solid darkgrey;
}

.list-view-header {
    background-color: grey;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}