.right-menu {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25%;
    height: 40%;
    background-color: #36363681;
    border: 2px solid darkgray;
    overflow: auto;
    overflow-y: overlay;
}

.right-menu-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column;
}