.toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--darkest-bg-color);
}

.toolbar .custom-menu,
.toolbar .custom-menu-item {
    background-color: var(--darkest-bg-color);
}